.footer {
	background-color: $black;
	text-align: center;
	padding: 3rem 0;
}
.footer__title {
    
    text-transform: uppercase;
    color: $white;
        
    font-size: 2rem;



}
