.header {


}
.header__inner {
    background-color: $green;

    

}

.header__row {
    align-items: center;
}

.logo__img{
	display: flex;
	justify-content: center;
	width: 80px;
	height: 80px;
	padding: 7px 0;
}


