<header class="header">

       <div class="header__inner">
        <div class="row header__row">
            <div class="col-lg-6">
                <a class="logo" href="#">
                   <img class="logo__img" src="assets/img/logo.png" alt="EcoNorman">
                </a>
                   
            </div>
        <div class="col-lg-4">
            <ul class="contacts">
                <li class="contacts__item">
                   <svg class="contacts_icon contacts_icon--phone">
                       <use xlink:href="#phone"></use>
                   </svg>
                    <a class="contacts__link" href="tel:+79091111111">+7-909-111-11-11</a>
                </li>
                <li class="contacts__item">
                   <svg class="contacts_icon contacts_icon--mail">
                       <use xlink:href="#mail"></use>
                   </svg>
                    <a class="contacts__link" href="mailto:xxx@mail.ru">xxx@mail.ru</a>
                </li>
            </ul>
        </div>
    <div class="col-lg-2">
        <div class="social">
            <a class="social__link" href="#" target="_blank">
                <svg class="social__icon  social__icon--vk">
                    <use xlink:href="#vk"></use>
                </svg>
            </a>

            <a class="social__link" href="#" target="_blank">
                <svg class="social__icon  social__icon--fs">
                    <use xlink:href="#facebook"></use>
                </svg>
            </a>

            <a class="social__link" href="#" target="_blank">
                <svg class="social__icon  social__icon--inst">
                    <use xlink:href="#instagram"></use>
                </svg>
            </a>
        </div>
    </div>
        </div><!--/row-->

       </div><!--/header__inner-->
       <nav>
           <div class="row nav__row">
                <div class="col-lg-3">
                 <a class="nav__link" href="#">Наши услуги</a>
               </div>
                <div class="col-lg-3">
                <a class="nav__link" href="#">Наши клиенты</a>
                </div>
                <div class="col-lg-3">
                <a class="nav__link" href="#">Наши цены</a>
                </div>
                <div class="col-lg-3">
                <a class="nav__link" href="#">О нас</a>

                </div>
            </div>
        </nav>


</header>
